@mixin element-brightness {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@mixin element-width {
  margin: 0 auto;
  width: $desktop-width;
  padding-right: 12px;
  padding-left: 12px;

  @media (max-width: $desktop-width) {
    width: 90%;
    padding-right: 21px;
    padding-left: 21px;
  }
}

@mixin element-hover-active-red {
  &:hover,
  &:focus {
    color: $white;
    background-color: $red;
  }

  &:active {
    filter: brightness(0.9);
  }
}

@mixin element-hover-active-dark-red {
  &:hover,
  &:focus {
    background-color: $dark-red;
  }

  &:active {
    filter: brightness(0.9);
  }
}
