.header {
  background-color: $gray;
}

.header__wrapper {
  @include element-width;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__navigation {
  margin-right: -10px;
}

@media (max-width: $tablet-width) {
  .header__wrapper {
    flex-direction: column;
    row-gap: 20px;
  }
}
