.information__title {
  font-family: "Open Sans bold", "Arial", sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  color: $dark-gray;

  margin-bottom: 62px;
}

.information__price {
  display: flex;
  column-gap: 35px;
  align-items: center;
  margin-bottom: 37px;
}

.information__new-price {
  font-family: "Open Sans bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 48px;
  color: $dark-gray;
}

.information__old-price {
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: rgba($dark-gray, 0.5);

  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -2px;
    left: -3px;
    width: 105%;
    height: 50%;
    border-bottom: 1px solid rgba($dark-gray, 0.5);
    transform: rotate(-5deg);
  }
}

.information__buttons {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: repeat(2, 52px);
  row-gap: 16px;
}

.information__application-button,
.information__credit-button {
  font-family: "Open Sans semi-bold", "Arial", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  margin-right: auto;
  margin-left: -2px;
}

.information__application-button {
  color: $white;
  padding: 15.5px 20px;

  border: none;
  background-color: $red;

  @include element-hover-active-dark-red;
}

.information__credit-button {
  color: $red;
  padding: 14.5px 20px;

  border: 1px solid $red;

  @include element-hover-active-red;
}

@media (max-width: $desktop-width) {
  .information__buttons {
    display: flex;
    column-gap: 30px;
  }

  .information__application-button,
  .information__credit-button {
    margin: 0;
  }
}
