.navigation__list {
  display: flex;
  row-gap: 20px;
  flex-wrap: wrap;
  max-width: 800px;

  .navigation__item {
    margin-right: 68px;
  }

  .navigation__item:last-of-type {
    margin-right: 0;
  }

  &--footer {
    column-gap: 0;
    max-width: 1170px;

    .navigation__item {
      margin-right: 66px;
    }
  }
}

.navigation__item-link {
  font-family: "Open Sans semi-bold", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: $dark-gray;

  @include element-brightness;
}

@media (max-width: $desktop-width) {
  .navigation__list {
    .navigation__item {
      margin-right: 30px;
    }

    &--footer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .navigation__item {
        margin-right: 0;
      }
    }
  }

  .navigation__item {
    text-align: center;
  }
}

@media (max-width: $tablet-width) {
  .navigation__list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;

    .navigation__item {
      margin-right: 0;
    }
  }
}
